<section class="prices">
    <div class="box box1">
        <img src="{{.Site.BaseURL}}img/color_1.png" width="100%">
        <span class="title">Pro</span>
        <span class="price">€<font size="7">90</font><br><font size="1">Professional Plan</font></span>
        <span class="bigprice">90</span>
        <span class="btn">+</span>
    </div>
    <!-- box1 -->
    <div class="box box2">
        <img src="{{.Site.BaseURL}}img/color_2.png" width="100%">
        <span class="title">Basic</span>
        <span class="price">€<font size="7">30</font><br><font size="1">Basic Plan</font></span>
        <span class="bigprice">30</span>
        <span class="btn">+</span>
    </div>
    <!-- box2 -->
    <div class="box box3">
        <img src="{{.Site.BaseURL}}img/color_3.png" width="100%">
        <span class="title">Mid</span>
        <span class="price">€<font size="7">60</font><br><font size="1">Medium Plan</font></span>
        <span class="bigprice">60</span>
        <span class="btn">+</span>
    </div>
    <!-- box3 -->
</section>